#header #headerTop {
  background: #f2f2f2;
  font-family: arial;
  height: 32px;
  position: relative;
  z-index: 888;
  border-bottom: 1px solid #cecece; }
  #header #headerTop .nav-l {
    float: left; }
    #header #headerTop .nav-l li {
      float: left;
      line-height: 32px; }
    #header #headerTop .nav-l .li2 {
      margin: 6px 10px 0 5px; }
      #header #headerTop .nav-l .li2 a {
        display: block;
        width: 50px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background: #ff3300;
        color: #fff; }
    #header #headerTop .nav-l .li3 a {
      color: #999; }
    #header #headerTop .nav-l .li3:hover a {
      color: #f00;
      text-decoration: underline; }
    #header #headerTop .nav-l b {
      display: block;
      width: 20px;
      height: 32px; }
    #header #headerTop .nav-l .tubiao {
      background: url(../images/curcity.png) no-repeat;
      background-position: 0 5px; }
  #header #headerTop .nav-c {
    float: left;
    margin-left: 50px;
    line-height: 32px; }
    #header #headerTop .nav-c span {
      color: #999; }
    #header #headerTop .nav-c a {
      color: #999;
      margin-left: 10px; }
      #header #headerTop .nav-c a:hover {
        color: #f00;
        text-decoration: underline; }
  #header #headerTop .nav-r {
    float: right;
    line-height: 32px; }
    #header #headerTop .nav-r li {
      color: #999;
      float: left;
      padding: 0 6px;
      cursor: pointer; }
      #header #headerTop .nav-r li a {
        color: #999; }
      #header #headerTop .nav-r li:hover .re {
        color: #FF3300;
        text-decoration: underline; }
      #header #headerTop .nav-r li .one {
        margin-left: 2px;
        display: inline-block;
        width: 11px;
        height: 11px;
        background: url(../images/site-bg.png); }
      #header #headerTop .nav-r li:nth-child(1) {
        position: relative; }
        #header #headerTop .nav-r li:nth-child(1) .info {
          background: #fff;
          position: absolute;
          width: 80px;
          border: 1px solid #f1f1f1;
          line-height: 20px;
          padding: 8px 10px;
          left: -1px;
          display: none;
          z-index: 222; }
          #header #headerTop .nav-r li:nth-child(1) .info a {
            height: 20px;
            color: #666; }
        #header #headerTop .nav-r li:nth-child(1):hover {
          background: #fff; }
          #header #headerTop .nav-r li:nth-child(1):hover .one {
            background-position-y: -10px; }
      #header #headerTop .nav-r li:nth-child(2) a {
        color: #FF3300;
        padding-left: 20px;
        background: url(../images/user_header.png) no-repeat -290px -24px; }
      #header #headerTop .nav-r li:nth-child(3) a {
        color: #FF3300;
        padding-left: 20px;
        background: url(../images/user_header.png) no-repeat -292px -3px; }
      #header #headerTop .nav-r li:nth-child(4) {
        position: relative; }
        #header #headerTop .nav-r li:nth-child(4) .store {
          background: #fff;
          z-index: 222;
          position: absolute;
          width: 70px;
          border: 1px solid #f1f1f1;
          line-height: 20px;
          padding: 8px 10px;
          left: -1px;
          display: none; }
          #header #headerTop .nav-r li:nth-child(4) .store a {
            height: 15px;
            color: #666; }
        #header #headerTop .nav-r li:nth-child(4):hover {
          background: #fff; }
          #header #headerTop .nav-r li:nth-child(4):hover .two {
            background-position-y: -10px; }
        #header #headerTop .nav-r li:nth-child(4) .two {
          padding-right: 3px;
          margin-left: 1px;
          display: inline-block;
          width: 11px;
          height: 11px;
          background: url(../images/site-bg.png) no-repeat; }
      #header #headerTop .nav-r li .two {
        margin-left: 2px;
        display: inline-block;
        width: 11px;
        height: 11px;
        background: url(../images/site-bg.png); }
      #header #headerTop .nav-r li:nth-child(5) {
        position: relative; }
        #header #headerTop .nav-r li:nth-child(5) .weixin {
          position: absolute;
          top: 31px;
          left: -1px;
          width: 110px;
          height: 110px;
          display: none;
          background: url(../images/weixin.jpg); }
        #header #headerTop .nav-r li:nth-child(5):hover {
          background: #fff; }
          #header #headerTop .nav-r li:nth-child(5):hover .two {
            background-position-y: -10px; }
        #header #headerTop .nav-r li:nth-child(5) a {
          padding-left: 15px;
          background: url(../images/user_header.png) no-repeat -363px -3px; }
      #header #headerTop .nav-r li:nth-child(6) {
        position: relative; }
        #header #headerTop .nav-r li:nth-child(6) .support {
          background: #fff;
          z-index: 222;
          position: absolute;
          width: 122px;
          padding: 5px 5px;
          left: -51px;
          border: 1px solid #f1f1f1;
          display: none; }
          #header #headerTop .nav-r li:nth-child(6) .support li {
            border-bottom: 1px dashed #CECECE; }
          #header #headerTop .nav-r li:nth-child(6) .support h3 {
            height: 30px;
            line-height: 30px;
            color: #333; }
          #header #headerTop .nav-r li:nth-child(6) .support a {
            display: inline-block;
            line-height: 20px;
            color: #666;
            background: none;
            padding-left: 0; }
        #header #headerTop .nav-r li:nth-child(6):hover {
          background: #fff; }
          #header #headerTop .nav-r li:nth-child(6):hover .two {
            background-position-y: -10px; }
      #header #headerTop .nav-r li:nth-child(7) {
        position: relative; }
        #header #headerTop .nav-r li:nth-child(7) .site {
          background: #fff;
          height: 140px;
          position: absolute;
          border: 1px solid #f1f1f1;
          top: 33px;
          left: -1114px;
          display: none;
          z-index: 888; }
          #header #headerTop .nav-r li:nth-child(7) .site a {
            background: none;
            color: #666; }
            #header #headerTop .nav-r li:nth-child(7) .site a:hover {
              color: #f00;
              text-decoration: underline; }
          #header #headerTop .nav-r li:nth-child(7) .site .site-l {
            margin-top: 15px;
            border-right: 1px solid #CECECE;
            width: 410px;
            float: left; }
            #header #headerTop .nav-r li:nth-child(7) .site .site-l h3 {
              font-size: 16px;
              margin: 10px 0 0 22px;
              color: #FF3300; }
            #header #headerTop .nav-r li:nth-child(7) .site .site-l ul {
              padding-bottom: 10px; }
          #header #headerTop .nav-r li:nth-child(7) .site .site-c {
            width: 375px;
            float: left;
            margin-top: 15px;
            border-right: 1px solid #CECECE; }
            #header #headerTop .nav-r li:nth-child(7) .site .site-c h3 {
              font-size: 16px;
              margin: 10px 0 0 34px;
              color: blue; }
            #header #headerTop .nav-r li:nth-child(7) .site .site-c ul {
              padding-bottom: 10px; }
              #header #headerTop .nav-r li:nth-child(7) .site .site-c ul li {
                padding: 0 20px; }
          #header #headerTop .nav-r li:nth-child(7) .site .site-r {
            width: 310px;
            float: left;
            margin-top: 15px; }
            #header #headerTop .nav-r li:nth-child(7) .site .site-r h3 {
              font-size: 16px;
              margin: 10px 0 0 34px;
              color: #333; }
            #header #headerTop .nav-r li:nth-child(7) .site .site-r ul {
              padding-bottom: 10px; }
              #header #headerTop .nav-r li:nth-child(7) .site .site-r ul li {
                padding: 0 10px; }
        #header #headerTop .nav-r li:nth-child(7):hover .two {
          background-position-y: -10px; }
        #header #headerTop .nav-r li:nth-child(7) a {
          padding-left: 15px;
          background: url(../images/user_header.png) no-repeat -295px -42px; }
#header #headerCon {
  height: 110px;
  margin-top: 5px;
  margin-bottom: 2px; }
  #header #headerCon #logo {
    float: left; }
  #header #headerCon #searchAll {
    width: 540px;
    padding-left: 50px;
    float: left;
    padding-top: 20px; }
    #header #headerCon #searchAll .searchT {
      width: 540px;
      height: 25px; }
      #header #headerCon #searchAll .searchT li {
        float: left; }
        #header #headerCon #searchAll .searchT li .act {
          background: #e31939;
          color: #fff; }
        #header #headerCon #searchAll .searchT li a {
          display: inline-block;
          width: 50px;
          height: 25px;
          line-height: 25px;
          text-align: center; }
    #header #headerCon #searchAll .searchC {
      padding-bottom: 8px;
      position: relative; }
      #header #headerCon #searchAll .searchC #search {
        width: 439px;
        height: 32px;
        border: none;
        outline: none;
        border: 2px solid #e31939;
        text-indent: 10px;
        float: left; }
      #header #headerCon #searchAll .searchC #list {
        width: 440px;
        height: 300px;
        border: 1px solid #f07;
        background: #fff;
        position: absolute;
        z-index: 1000;
        top: 35px;
        display: none; }
        #header #headerCon #searchAll .searchC #list li {
          height: 30px;
          line-height: 30px;
          cursor: pointer; }
          #header #headerCon #searchAll .searchC #list li:hover {
            background: #f09; }
          #header #headerCon #searchAll .searchC #list li a {
            margin-left: 10px; }
          #header #headerCon #searchAll .searchC #list li .act {
            color: #999; }
          #header #headerCon #searchAll .searchC #list li .del {
            cursor: pointer;
            text-decoration: underline;
            color: #333;
            float: right;
            margin-right: 10px; }
      #header #headerCon #searchAll .searchC #searc {
        width: 90px;
        height: 36px;
        border: 2px solid #e31939;
        background: #e31939;
        color: #fff;
        flex: left;
        outline: none;
        cursor: pointer; }
    #header #headerCon #searchAll .searchB {
      width: 540px;
      height: 22px; }
      #header #headerCon #searchAll .searchB li {
        border-right: 1px solid #cecece;
        float: left;
        padding: 0 12px; }
        #header #headerCon #searchAll .searchB li:nth-child(1) {
          padding-left: 0; }
        #header #headerCon #searchAll .searchB li:last-child {
          border: none; }
        #header #headerCon #searchAll .searchB li a {
          color: #777; }
        #header #headerCon #searchAll .searchB li:hover a {
          text-decoration: underline; }
  #header #headerCon .promise {
    float: right;
    padding: 30px 16px 0 0; }
#header #navA {
  height: 37px;
  border-bottom: 2px solid #E31939; }
  #header #navA .list {
    position: relative;
    float: left; }
    #header #navA .list .a {
      display: block;
      width: 210px;
      height: 38px;
      background: #e31939;
      text-align: center;
      line-height: 38px;
      font-size: 16px;
      color: #fff; }
      #header #navA .list .a i {
        left: 170px;
        top: 15px;
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 7px;
        background: url(../images/user_header.png) no-repeat -428px -115px; }
    #header #navA .list #carList {
      position: absolute;
      width: 208px;
      height: 513px;
      border: 1px solid #e7e7e7;
      border-top: none;
      background: #fff;
      top: 39px;
      opacity: .8;
      z-index: 666; }
      #header #navA .list #carList #allList {
        width: 208px; }
      #header #navA .list #carList li {
        position: static;
        z-index: 666;
        width: 208px;
        height: 64px;
        cursor: pointer; }
        #header #navA .list #carList li:hover .mum .p1 {
          background: url(../images/icohover.png) no-repeat; }
      #header #navA .list #carList .mum {
        height: 63px;
        margin: 0 15px;
        border-bottom: 1px dashed #CECECE; }
        #header #navA .list #carList .mum p {
          height: 20px;
          line-height: 20px; }
          #header #navA .list #carList .mum p a {
            color: #333; }
        #header #navA .list #carList .mum .p1 {
          margin-top: 10px;
          width: 142px;
          padding-left: 42px;
          background: url(../images/ico.png); }
        #header #navA .list #carList .mum .p2 {
          padding: 5px 0 0 35px; }
        #header #navA .list #carList .mum .p3 {
          background-position: 0 -24px; }
        #header #navA .list #carList .mum .p4 {
          background-position: 0 -48px; }
        #header #navA .list #carList .mum .p5 {
          background-position: 0 -72px; }
        #header #navA .list #carList .mum .p6 {
          background-position: 0 -96px; }
        #header #navA .list #carList .mum .p7 {
          background-position: 0 -120px; }
        #header #navA .list #carList .mum .p8 {
          background-position: 0 -144px; }
        #header #navA .list #carList .mum .p9 {
          background-position: 0 -168px; }
      #header #navA .list #carList .lat {
        border: none; }
      #header #navA .list #carList #showList {
        background: #fff;
        border: solid 1px #DE1838;
        box-shadow: 1px 1px 8px #dfdfdf;
        display: block;
        left: 208px;
        position: absolute;
        top: 0;
        width: 787px;
        z-index: 11; }
        #header #navA .list #carList #showList .showL {
          width: 535px;
          float: left;
          margin-left: 15px;
          font-size: 12px; }
          #header #navA .list #carList #showList .showL .list1 {
            padding: 15px 0;
            border-bottom: 1px dashed #CECECE; }
            #header #navA .list #carList #showList .showL .list1:last-child {
              border: none; }
          #header #navA .list #carList #showList .showL .cat {
            float: left;
            height: 28px;
            line-height: 28px; }
            #header #navA .list #carList #showList .showL .cat a {
              color: #222;
              font-size: 14px; }
          #header #navA .list #carList #showList .showL .list {
            float: left;
            width: 428px;
            margin-left: 20px; }
            #header #navA .list #carList #showList .showL .list a {
              display: inline-block;
              width: 100px;
              height: 28px;
              line-height: 28px; }
        #header #navA .list #carList #showList .showR {
          width: 194px;
          float: right;
          font-size: 12px;
          margin-right: 15px; }
          #header #navA .list #carList #showList .showR h3 {
            margin-top: 13px;
            font-weight: 300;
            color: #e31939;
            height: 45px;
            line-height: 45px;
            border-bottom: 1px dashed #CECECE; }
          #header #navA .list #carList #showList .showR .store {
            padding: 10px 0; }
            #header #navA .list #carList #showList .showR .store li {
              width: 97px;
              height: 20px;
              float: left; }
  #header #navA .navAr {
    height: 36px;
    float: left;
    margin-left: 15px; }
    #header #navA .navAr li {
      line-height: 36px;
      float: left;
      padding: 0 16px; }
      #header #navA .navAr li a {
        display: block;
        color: #111;
        font-size: 16px; }
        #header #navA .navAr li a:hover {
          color: #e31939; }
#header #sidebar-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  width: 35px;
  height: 100%;
  padding-top: 1px;
  background: #333333;
  z-index: 88888; }
  #header #sidebar-nav .mods {
    position: relative;
    height: 100%; }
    #header #sidebar-nav .mods .middle_items {
      position: absolute;
      top: 50%;
      height: 570px;
      margin-top: -285px; }
      #header #sidebar-nav .mods .middle_items .login_info {
        height: 45px;
        width: 35px; }
        #header #sidebar-nav .mods .middle_items .login_info a {
          display: block;
          width: 35px;
          height: 35px; }
          #header #sidebar-nav .mods .middle_items .login_info a img {
            display: block;
            width: 35px;
            height: 35px; }
      #header #sidebar-nav .mods .middle_items .mod {
        width: 35px;
        height: 45px;
        margin: 20px 0 14px;
        position: relative; }
      #header #sidebar-nav .mods .middle_items .sale {
        background: #E12545;
        text-align: center;
        line-height: 18px;
        color: #fff; }
        #header #sidebar-nav .mods .middle_items .sale .p1 {
          margin-top: 6px; }
      #header #sidebar-nav .mods .middle_items .vote {
        position: relative; }
        #header #sidebar-nav .mods .middle_items .vote a {
          display: block;
          width: 35px;
          height: 45px;
          color: #fff; }
          #header #sidebar-nav .mods .middle_items .vote a .survey {
            position: absolute;
            left: 5px; }
            #header #sidebar-nav .mods .middle_items .vote a .survey i {
              margin: 0 auto;
              display: block;
              margin-bottom: 3px;
              width: 24px;
              height: 24px;
              background: url(../images/site_bar.png) no-repeat -4px -6px; }
            #header #sidebar-nav .mods .middle_items .vote a .survey b {
              display: block;
              text-align: center; }
          #header #sidebar-nav .mods .middle_items .vote a .online {
            width: 35px;
            height: 0;
            position: absolute;
            top: 45px;
            background: #E22A40;
            color: #fff;
            text-align: center;
            line-height: 18px;
            display: none; }
            #header #sidebar-nav .mods .middle_items .vote a .online .p1 {
              margin-top: 3px; }
        #header #sidebar-nav .mods .middle_items .vote .quest {
          position: absolute;
          left: -170px;
          top: 0;
          width: 170px;
          height: 136px;
          background: #fff;
          box-shadow: 0 0 5px #ccc;
          display: none; }
      #header #sidebar-nav .mods .middle_items .reserve {
        height: 135px;
        position: relative; }
        #header #sidebar-nav .mods .middle_items .reserve .car #collectBox {
          display: block;
          height: 135px;
          padding-top: 5px;
          color: #fff;
          line-height: 18px;
          width: 35px;
          text-align: center; }
          #header #sidebar-nav .mods .middle_items .reserve .car #collectBox i {
            display: block;
            width: 35px;
            height: 35px;
            background: url(../images/site_bar.png) no-repeat 0 -39px; }
          #header #sidebar-nav .mods .middle_items .reserve .car #collectBox span {
            display: block;
            margin-top: 7px; }
        #header #sidebar-nav .mods .middle_items .reserve .shopcar {
          position: absolute;
          width: 300px;
          left: -300px;
          top: 0;
          min-height: 100px;
          background: #fff;
          box-shadow: 0 0 5px #ccc;
          display: none; }
      #header #sidebar-nav .mods .middle_items .follow a {
        display: block;
        width: 35px;
        height: 45px;
        color: #fff; }
        #header #sidebar-nav .mods .middle_items .follow a .survey i {
          margin: 0 auto;
          display: block;
          margin-bottom: 6px;
          width: 24px;
          height: 24px;
          background: url(../images/site_bar.png) no-repeat -6px -74px; }
        #header #sidebar-nav .mods .middle_items .follow a .survey b {
          display: block;
          text-align: center; }
        #header #sidebar-nav .mods .middle_items .follow a .online {
          width: 35px;
          height: 45px;
          position: absolute;
          top: 0;
          background: #E22A40;
          color: #fff;
          text-align: center;
          line-height: 18px;
          display: none; }
          #header #sidebar-nav .mods .middle_items .follow a .online .p1 {
            margin-top: 3px; }
      #header #sidebar-nav .mods .middle_items .collect a {
        display: block;
        width: 35px;
        height: 45px;
        color: #fff; }
        #header #sidebar-nav .mods .middle_items .collect a .survey i {
          margin: 0 auto;
          display: block;
          margin-bottom: 6px;
          width: 24px;
          height: 24px;
          background: url(../images/site_bar.png) no-repeat -6px -109px; }
        #header #sidebar-nav .mods .middle_items .collect a .survey b {
          display: block;
          text-align: center; }
        #header #sidebar-nav .mods .middle_items .collect a .online {
          width: 35px;
          height: 45px;
          position: absolute;
          top: 0;
          background: #E22A40;
          color: #fff;
          text-align: center;
          line-height: 18px;
          display: none; }
          #header #sidebar-nav .mods .middle_items .collect a .online .p1 {
            margin-top: 3px; }
      #header #sidebar-nav .mods .middle_items .code {
        position: relative; }
        #header #sidebar-nav .mods .middle_items .code a .survey i {
          display: block;
          width: 24px;
          height: 24px;
          margin: 0 auto;
          background: url(../images/site_bar.png) no-repeat -6px -144px; }
        #header #sidebar-nav .mods .middle_items .code a .online {
          width: 35px;
          height: 45px;
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          background: #E12545;
          color: #fff;
          line-height: 18px;
          display: none; }
          #header #sidebar-nav .mods .middle_items .code a .online .p1 {
            margin-top: 5px; }
      #header #sidebar-nav .mods .middle_items .topen {
        position: relative;
        display: none; }
        #header #sidebar-nav .mods .middle_items .topen a .survey i {
          display: block;
          width: 24px;
          height: 24px;
          margin: 0 auto;
          background: url(../images/site_bar.png) no-repeat -6px -179px; }
        #header #sidebar-nav .mods .middle_items .topen a .online {
          width: 35px;
          height: 45px;
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          background: #E12545;
          color: #fff;
          line-height: 18px;
          display: none; }
          #header #sidebar-nav .mods .middle_items .topen a .online .p1 {
            margin-top: 5px; }

#footer {
  margin-top: 20px;
  position: relative;
  font-size: 14px;
  background: #fafafa; }
  #footer #footer-server ul {
    padding: 25px 0;
    border-bottom: 1px solid #CECECE; }
    #footer #footer-server ul li {
      float: left;
      width: 20%;
      line-height: 35px; }
      #footer #footer-server ul li a {
        padding-left: 65px; }
      #footer #footer-server ul li:nth-child(1) a {
        display: block;
        color: #333;
        background: url(../images/footer-icon.png) no-repeat 0 0;
        height: 35px; }
      #footer #footer-server ul li:nth-child(2) a {
        display: block;
        color: #333;
        background: url(../images/footer-icon.png) no-repeat -243px 0;
        height: 35px; }
      #footer #footer-server ul li:nth-child(3) a {
        display: block;
        color: #333;
        background: url(../images/footer-icon.png) no-repeat -489px 0;
        height: 35px; }
      #footer #footer-server ul li:nth-child(4) a {
        display: block;
        color: #333;
        background: url(../images/footer-icon.png) no-repeat -737px 0;
        height: 35px; }
      #footer #footer-server ul li:nth-child(5) a {
        display: block;
        color: #333;
        background: url(../images/footer-icon.png) no-repeat -984px 0;
        height: 35px; }
  #footer #footer-links {
    border-bottom: 1px solid #CECECE; }
    #footer #footer-links dl {
      margin: 15px 0 20px 0;
      float: left;
      border-right: 1px solid #CECECE; }
      #footer #footer-links dl dt {
        height: 30px;
        line-height: 30px;
        padding: 0 60px;
        font-size: 16px; }
      #footer #footer-links dl dd {
        padding: 0 65px; }
        #footer #footer-links dl dd a {
          display: block;
          height: 26px;
          line-height: 26px;
          font-size: 12px; }
          #footer #footer-links dl dd a:hover {
            color: #e31939;
            text-decoration: underline; }
    #footer #footer-links .phone .pho {
      padding-top: 10px;
      height: 35px;
      line-height: 35px;
      font-size: 26px;
      color: #f00;
      text-align: center; }
    #footer #footer-links .phone .onel {
      text-align: center;
      line-height: 25px;
      font-size: 12px; }
    #footer #footer-links .phone a {
      display: inline-block;
      width: 120px;
      height: 30px;
      background: #E31939;
      opacity: .8;
      text-align: center;
      line-height: 30px;
      color: #fff;
      font-size: 12px;
      margin: 15px 0  0 82px; }
      #footer #footer-links .phone a:hover {
        opacity: 1; }
  #footer #footer-info {
    margin: 10px 0 5px 0;
    text-align: center;
    color: #666; }
    #footer #footer-info p {
      height: 22px;
      line-height: 22px; }
      #footer #footer-info p a {
        display: inline-block;
        height: 22px;
        line-height: 22px;
        text-align: center;
        padding-right: 10px;
        font-size: 12px; }
      #footer #footer-info p span {
        font-size: 12px;
        color: #666; }

/*# sourceMappingURL=common.css.map */
