@charset "UTF-8";
#header #headerTop {
  font-family: "微软雅黑";
  background: #f2f2f2;
  font-family: arial;
  height: 32px;
  position: relative;
  z-index: 888;
  border-bottom: 1px solid #cecece; }
  #header #headerTop .nav-l {
    float: left; }
    #header #headerTop .nav-l li {
      float: left;
      line-height: 32px; }
    #header #headerTop .nav-l .li2 {
      margin: 6px 10px 0 5px; }
      #header #headerTop .nav-l .li2 a {
        display: block;
        width: 50px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background: #ff3300;
        color: #fff; }
    #header #headerTop .nav-l .li3 a {
      color: #999; }
    #header #headerTop .nav-l .li3:hover a {
      color: #f00;
      text-decoration: underline; }
    #header #headerTop .nav-l b {
      display: block;
      width: 20px;
      height: 32px; }
    #header #headerTop .nav-l .tubiao {
      background: url(../images/curcity.png) no-repeat;
      background-position: 0 5px; }
  #header #headerTop .nav-c {
    float: left;
    margin-left: 50px;
    line-height: 32px; }
    #header #headerTop .nav-c span {
      color: #999; }
    #header #headerTop .nav-c a {
      color: #999;
      margin-left: 10px; }
      #header #headerTop .nav-c a:hover {
        color: #f00;
        text-decoration: underline; }
  #header #headerTop .nav-r {
    float: right;
    line-height: 32px; }
    #header #headerTop .nav-r li {
      color: #999;
      float: left;
      padding: 0 6px;
      cursor: pointer; }
      #header #headerTop .nav-r li a {
        color: #999; }
      #header #headerTop .nav-r li:hover .re {
        color: #FF3300;
        text-decoration: underline; }
      #header #headerTop .nav-r li .one {
        margin-left: 2px;
        display: inline-block;
        width: 11px;
        height: 11px;
        background: url(../images/site-bg.png); }
      #header #headerTop .nav-r li:nth-child(1) {
        position: relative; }
        #header #headerTop .nav-r li:nth-child(1) .info {
          background: #fff;
          position: absolute;
          width: 80px;
          border: 1px solid #f1f1f1;
          line-height: 20px;
          padding: 8px 10px;
          left: -1px;
          display: none;
          z-index: 222; }
          #header #headerTop .nav-r li:nth-child(1) .info a {
            height: 20px;
            color: #666; }
        #header #headerTop .nav-r li:nth-child(1):hover {
          background: #fff; }
          #header #headerTop .nav-r li:nth-child(1):hover .one {
            background-position-y: -10px; }
      #header #headerTop .nav-r li:nth-child(2) a {
        color: #FF3300;
        padding-left: 20px;
        background: url(../images/user_header.png) no-repeat -290px -24px; }
      #header #headerTop .nav-r li:nth-child(3) a {
        color: #FF3300;
        padding-left: 20px;
        background: url(../images/user_header.png) no-repeat -292px -3px; }
      #header #headerTop .nav-r li:nth-child(4) {
        position: relative; }
        #header #headerTop .nav-r li:nth-child(4) .store {
          background: #fff;
          z-index: 222;
          position: absolute;
          width: 70px;
          border: 1px solid #f1f1f1;
          line-height: 20px;
          padding: 8px 10px;
          left: -1px;
          display: none; }
          #header #headerTop .nav-r li:nth-child(4) .store a {
            height: 15px;
            color: #666; }
        #header #headerTop .nav-r li:nth-child(4):hover {
          background: #fff; }
          #header #headerTop .nav-r li:nth-child(4):hover .two {
            background-position-y: -10px; }
        #header #headerTop .nav-r li:nth-child(4) .two {
          padding-right: 3px;
          margin-left: 1px;
          display: inline-block;
          width: 11px;
          height: 11px;
          background: url(../images/site-bg.png) no-repeat; }
      #header #headerTop .nav-r li .two {
        margin-left: 2px;
        display: inline-block;
        width: 11px;
        height: 11px;
        background: url(../images/site-bg.png); }
      #header #headerTop .nav-r li:nth-child(5) {
        position: relative; }
        #header #headerTop .nav-r li:nth-child(5) .weixin {
          position: absolute;
          top: 31px;
          left: -1px;
          width: 110px;
          height: 110px;
          display: none;
          background: url(../images/weixin.jpg); }
        #header #headerTop .nav-r li:nth-child(5):hover {
          background: #fff; }
          #header #headerTop .nav-r li:nth-child(5):hover .two {
            background-position-y: -10px; }
        #header #headerTop .nav-r li:nth-child(5) a {
          padding-left: 15px;
          background: url(../images/user_header.png) no-repeat -363px -3px; }
      #header #headerTop .nav-r li:nth-child(6) {
        position: relative; }
        #header #headerTop .nav-r li:nth-child(6) .support {
          background: #fff;
          z-index: 222;
          position: absolute;
          width: 122px;
          padding: 5px 5px;
          left: -51px;
          border: 1px solid #f1f1f1;
          display: none; }
          #header #headerTop .nav-r li:nth-child(6) .support li {
            border-bottom: 1px dashed #CECECE; }
          #header #headerTop .nav-r li:nth-child(6) .support h3 {
            height: 30px;
            line-height: 30px;
            color: #333; }
          #header #headerTop .nav-r li:nth-child(6) .support a {
            display: inline-block;
            line-height: 20px;
            color: #666;
            background: none;
            padding-left: 0; }
        #header #headerTop .nav-r li:nth-child(6):hover {
          background: #fff; }
          #header #headerTop .nav-r li:nth-child(6):hover .two {
            background-position-y: -10px; }
      #header #headerTop .nav-r li:nth-child(7) {
        position: relative; }
        #header #headerTop .nav-r li:nth-child(7) .site {
          background: #fff;
          height: 140px;
          position: absolute;
          border: 1px solid #f1f1f1;
          top: 33px;
          left: -1114px;
          display: none;
          z-index: 888; }
          #header #headerTop .nav-r li:nth-child(7) .site a {
            background: none;
            color: #666; }
            #header #headerTop .nav-r li:nth-child(7) .site a:hover {
              color: #f00;
              text-decoration: underline; }
          #header #headerTop .nav-r li:nth-child(7) .site .site-l {
            margin-top: 15px;
            border-right: 1px solid #CECECE;
            width: 410px;
            float: left; }
            #header #headerTop .nav-r li:nth-child(7) .site .site-l h3 {
              font-size: 16px;
              margin: 10px 0 0 22px;
              color: #FF3300; }
            #header #headerTop .nav-r li:nth-child(7) .site .site-l ul {
              padding-bottom: 10px; }
          #header #headerTop .nav-r li:nth-child(7) .site .site-c {
            width: 375px;
            float: left;
            margin-top: 15px;
            border-right: 1px solid #CECECE; }
            #header #headerTop .nav-r li:nth-child(7) .site .site-c h3 {
              font-size: 16px;
              margin: 10px 0 0 34px;
              color: blue; }
            #header #headerTop .nav-r li:nth-child(7) .site .site-c ul {
              padding-bottom: 10px; }
              #header #headerTop .nav-r li:nth-child(7) .site .site-c ul li {
                padding: 0 20px; }
          #header #headerTop .nav-r li:nth-child(7) .site .site-r {
            width: 310px;
            float: left;
            margin-top: 15px; }
            #header #headerTop .nav-r li:nth-child(7) .site .site-r h3 {
              font-size: 16px;
              margin: 10px 0 0 34px;
              color: #333; }
            #header #headerTop .nav-r li:nth-child(7) .site .site-r ul {
              padding-bottom: 10px; }
              #header #headerTop .nav-r li:nth-child(7) .site .site-r ul li {
                padding: 0 10px; }
        #header #headerTop .nav-r li:nth-child(7):hover .two {
          background-position-y: -10px; }
        #header #headerTop .nav-r li:nth-child(7) a {
          padding-left: 15px;
          background: url(../images/user_header.png) no-repeat -295px -42px; }
#header #headerCon {
  height: 110px;
  margin-top: 5px;
  margin-bottom: 2px; }
  #header #headerCon #logo {
    float: left; }
  #header #headerCon #searchAll {
    width: 540px;
    padding-left: 50px;
    float: left;
    padding-top: 20px; }
    #header #headerCon #searchAll .searchT {
      width: 540px;
      height: 25px; }
      #header #headerCon #searchAll .searchT li {
        float: left; }
        #header #headerCon #searchAll .searchT li .act {
          background: #e31939;
          color: #fff; }
        #header #headerCon #searchAll .searchT li a {
          display: inline-block;
          width: 50px;
          height: 25px;
          line-height: 25px;
          text-align: center; }
    #header #headerCon #searchAll .searchC {
      padding-bottom: 8px; }
      #header #headerCon #searchAll .searchC #search {
        width: 439px;
        height: 32px;
        border: none;
        outline: none;
        border: 2px solid #e31939;
        text-indent: 10px;
        float: left; }
      #header #headerCon #searchAll .searchC #searc {
        width: 90px;
        height: 37px;
        border: 2px solid #e31939;
        background: #e31939;
        color: #fff;
        flex: left;
        outline: none;
        cursor: pointer; }
    #header #headerCon #searchAll .searchB {
      width: 540px;
      height: 22px; }
      #header #headerCon #searchAll .searchB li {
        border-right: 1px solid #cecece;
        float: left;
        padding: 0 12px; }
        #header #headerCon #searchAll .searchB li:nth-child(1) {
          padding-left: 0; }
        #header #headerCon #searchAll .searchB li:last-child {
          border: none; }
        #header #headerCon #searchAll .searchB li a {
          color: #777; }
        #header #headerCon #searchAll .searchB li:hover a {
          text-decoration: underline; }
  #header #headerCon .promise {
    float: right;
    padding: 30px 16px 0 0; }
#header #navA {
  height: 37px;
  border-bottom: 2px solid #E31939; }
  #header #navA .list {
    position: relative;
    float: left; }
    #header #navA .list .a {
      display: block;
      width: 210px;
      height: 38px;
      background: #e31939;
      text-align: center;
      line-height: 38px;
      font-size: 16px;
      color: #fff; }
      #header #navA .list .a i {
        left: 170px;
        top: 15px;
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 7px;
        background: url(../images/user_header.png) no-repeat -428px -115px; }
    #header #navA .list #carList {
      position: absolute;
      width: 208px;
      height: 513px;
      border: 1px solid #e7e7e7;
      border-top: none;
      background: #fff;
      top: 40px; }
      #header #navA .list #carList li {
        cursor: pointer; }
      #header #navA .list #carList .mum {
        height: 63px;
        margin: 0 15px;
        border-bottom: 1px dashed #CECECE; }
        #header #navA .list #carList .mum p {
          height: 20px;
          line-height: 20px; }
          #header #navA .list #carList .mum p a {
            color: #333; }
        #header #navA .list #carList .mum .p1 {
          margin-top: 10px;
          width: 142px;
          padding-left: 42px;
          background: url(../images/ico.png); }
        #header #navA .list #carList .mum .p2 {
          padding: 5px 0 0 35px; }
        #header #navA .list #carList .mum .p3 {
          background-position: 0 -24px; }
        #header #navA .list #carList .mum .p4 {
          background-position: 0 -48px; }
        #header #navA .list #carList .mum .p5 {
          background-position: 0 -72px; }
        #header #navA .list #carList .mum .p6 {
          background-position: 0 -96px; }
        #header #navA .list #carList .mum .p7 {
          background-position: 0 -120px; }
        #header #navA .list #carList .mum .p8 {
          background-position: 0 -144px; }
        #header #navA .list #carList .mum .p9 {
          background-position: 0 -168px; }
      #header #navA .list #carList .lat {
        border: none; }
  #header #navA .navAr {
    height: 36px;
    float: left;
    margin-left: 15px; }
    #header #navA .navAr li {
      line-height: 36px;
      float: left;
      padding: 0 16px; }
      #header #navA .navAr li a {
        display: block;
        color: #111;
        font-size: 16px; }
        #header #navA .navAr li a:hover {
          color: #e31939; }

/*# sourceMappingURL=common.css.map */
