body {
  font-family: arial; }

#banner {
  width: 100%;
  height: 514px;
  position: relative;
  margin-bottom: 15px; }
  #banner #slides li {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  #banner #slides .fir {
    z-index: 333;
    background: url(../images/banner1.jpg) no-repeat center center; }
  #banner #slides .sec {
    z-index: 222;
    background: url(../images/banner2.jpg) no-repeat center center; }
  #banner #slides .thr {
    z-index: 111;
    background: url(../images/banner3.jpg) no-repeat center center; }
  #banner .small {
    position: absolute;
    z-index: 666;
    left: 50%;
    margin-left: 300px;
    top: 312px; }
    #banner .small li {
      float: left; }
      #banner .small li a {
        margin: 0 2px;
        display: inline-block;
        width: 24px;
        height: 6px;
        background: rgba(153, 153, 153, 0.6); }
      #banner .small li .act {
        background: #DE1838; }
  #banner .markets {
    position: absolute;
    width: 790px;
    height: 178px;
    z-index: 334;
    left: 50%;
    margin-left: -395px;
    top: 336px; }
    #banner .markets a {
      float: left;
      display: block;
      width: 262px;
      height: 178px; }
  #banner .rightBar {
    position: absolute;
    left: 50%;
    margin-left: 394px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 334;
    width: 210px;
    height: 514px;
    padding: 0 1px; }
    #banner .rightBar .barT {
      width: 210px;
      height: 328px;
      background: rgba(255, 255, 255, 0.8); }
      #banner .rightBar .barT .pattern {
        font-size: 12px;
        height: 38px;
        line-height: 38px;
        text-indent: 18px;
        color: #333;
        border-bottom: 1px solid #c7c7c7; }
      #banner .rightBar .barT .allLi {
        margin: 12px 0 0 18px; }
        #banner .rightBar .barT .allLi li i {
          margin-right: 6px;
          display: inline-block;
          width: 16px;
          height: 18px;
          background: #DE1838;
          text-align: center;
          line-height: 18px;
          color: #fff; }
        #banner .rightBar .barT .allLi li:first-child {
          height: 30px; }
        #banner .rightBar .barT .allLi li:nth-child(2) {
          height: 90px; }
          #banner .rightBar .barT .allLi li:nth-child(2) p {
            margin-left: 25px;
            height: 28px;
            line-height: 28px;
            color: #666; }
          #banner .rightBar .barT .allLi li:nth-child(2) .number {
            font-size: 18px;
            color: #DE1838; }
        #banner .rightBar .barT .allLi li:nth-child(3) {
          height: 98px; }
          #banner .rightBar .barT .allLi li:nth-child(3) p {
            margin-top: 6px; }
            #banner .rightBar .barT .allLi li:nth-child(3) p span {
              vertical-align: top;
              margin-left: 25px;
              color: #666; }
            #banner .rightBar .barT .allLi li:nth-child(3) p img {
              margin-left: 32px;
              display: inline-block;
              width: 68px;
              height: 68px; }
        #banner .rightBar .barT .allLi li:last-child {
          margin-top: 5px;
          height: 30px; }
    #banner .rightBar .barB {
      position: relative;
      background: #fff;
      width: 210px;
      height: 185px;
      border-bottom: 1px solid #e7e7e7; }
      #banner .rightBar .barB .ad {
        height: 31px; }
        #banner .rightBar .barB .ad li {
          cursor: pointer;
          float: left;
          width: 104px;
          height: 31px;
          text-align: center;
          line-height: 31px; }
        #banner .rightBar .barB .ad .actt {
          border: 1px solid #e8e8e8;
          background: #f1f1f1; }
      #banner .rightBar .barB .emporium {
        position: absolute;
        top: 31px;
        left: 0;
        display: block; }
        #banner .rightBar .barB .emporium p {
          width: 165px;
          height: 60px;
          background: orange;
          text-align: center;
          margin: 30px 0 0 20px;
          border-radius: 2px; }
          #banner .rightBar .barB .emporium p a {
            color: #fff; }
            #banner .rightBar .barB .emporium p a:first-child b {
              font-size: 16px;
              height: 35px;
              line-height: 35px; }
            #banner .rightBar .barB .emporium p a:first-child i {
              font-size: 12px; }
        #banner .rightBar .barB .emporium .logn {
          display: block;
          height: 60px;
          line-height: 60px;
          text-align: center;
          font-size: 12px;
          color: #999; }
      #banner .rightBar .barB .poster {
        position: absolute;
        top: 31px;
        left: 0;
        display: none; }
        #banner .rightBar .barB .poster ul {
          padding: 10px 0; }
          #banner .rightBar .barB .poster ul li {
            height: 28px;
            line-height: 28px;
            margin-left: 15px; }
            #banner .rightBar .barB .poster ul li i {
              margin-right: 5px;
              display: inline-block;
              width: 2px;
              height: 2px;
              background: #C7C7C7;
              vertical-align: middle; }

#wine {
  height: 360px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px; }
  #wine .wineT .tab-item {
    float: left;
    width: 90px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer; }
  #wine .wineC {
    position: absolute;
    width: 90px;
    height: 7px;
    border-bottom: 2px solid #E31939;
    top: 35px;
    left: 0;
    overflow: hidden; }
    #wine .wineC b {
      border-width: 10px;
      border-style: dashed dashed solid;
      border-color: transparent transparent #dd102e;
      display: inline-block;
      font-size: 0;
      height: 0;
      width: 0;
      margin-top: -12px;
      margin-left: 34px; }
  #wine .wineB {
    height: 310px;
    border: 1px solid #E7E7E7; }
    #wine .wineB .kind {
      display: none;
      width: 1170px;
      margin: 18px; }
      #wine .wineB .kind ul li {
        text-align: center;
        float: left;
        width: 180px;
        height: 80px;
        margin: 0 17px 17px 0;
        overflow: hidden; }
        #wine .wineB .kind ul li a {
          display: block;
          width: 180px;
          height: 80px; }
        #wine .wineB .kind ul li img {
          display: block; }
        #wine .wineB .kind ul li:nth-child(6n) {
          margin-right: 0; }
    #wine .wineB .reveal {
      display: block; }

#hotShop {
  margin-bottom: 15px;
  margin-top: 35px; }
  #hotShop .hot {
    display: inline-block;
    width: 200px;
    height: 20px;
    line-height: 20px;
    background: url(../images/user_header.png) no-repeat; }
  #hotShop .shop {
    float: right;
    height: 20px;
    line-height: 20px; }
  #hotShop .content {
    background: #f1f1f1;
    margin-top: 10px;
    height: 330px; }
    #hotShop .content .contentL {
      float: left;
      width: 212px;
      height: 326px;
      border-top: 2px solid #E7E7E7;
      border-bottom: 2px solid #E7E7E7;
      border-right: 2px solid #e7e7e7; }
    #hotShop .content .contentC {
      border: 1px solid #e7e7e7;
      position: relative;
      float: left;
      width: 780px;
      height: 326px; }
      #hotShop .content .contentC li {
        border: 1px solid #E7E7E7;
        float: left; }
        #hotShop .content .contentC li .brand {
          display: block;
          width: 128px;
          height: 80px;
          position: relative;
          transition: height .3s ease;
          text-align: center;
          background: #fff; }
          #hotShop .content .contentC li .brand img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto; }
    #hotShop .content .contentR {
      border-left: 1px solid #e7e7e7;
      width: 212px;
      height: 326px;
      float: right; }

#layout {
  height: 300px;
  margin-bottom: 15px; }
  #layout .layoutL {
    float: left;
    width: 1000px;
    height: 300px;
    border-bottom: 1px solid #f0f0f0;
    position: relative; }
    #layout .layoutL .mint {
      width: 100%;
      height: 40px;
      border-bottom: 2px solid lightgray; }
      #layout .layoutL .mint li {
        float: left;
        width: 200px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        color: #777;
        cursor: pointer; }
    #layout .layoutL .winea {
      position: absolute;
      width: 200px;
      height: 7px;
      border-bottom: 2px solid #E31939;
      top: 33px;
      left: 0;
      overflow: hidden; }
      #layout .layoutL .winea b {
        border-width: 10px;
        border-style: dashed dashed solid;
        border-color: transparent transparent #dd102e;
        display: inline-block;
        font-size: 0;
        height: 0;
        width: 0;
        margin-top: -12px;
        margin-left: 88px; }
    #layout .layoutL .tabs {
      position: relative; }
      #layout .layoutL .tabs .tabs1 {
        display: none;
        position: absolute; }
        #layout .layoutL .tabs .tabs1 ul li {
          float: left;
          width: 160px;
          padding: 10px 19px;
          border-right: 1px solid #e7e7e7; }
          #layout .layoutL .tabs .tabs1 ul li:last-child {
            border: none; }
          #layout .layoutL .tabs .tabs1 ul li a {
            display: block; }
            #layout .layoutL .tabs .tabs1 ul li a img {
              display: block;
              width: 160px;
              height: 160px; }
            #layout .layoutL .tabs .tabs1 ul li a p {
              width: 160px;
              margin-top: 6px; }
            #layout .layoutL .tabs .tabs1 ul li a span {
              display: inline-block;
              height: 40px;
              line-height: 40px; }
            #layout .layoutL .tabs .tabs1 ul li a i {
              color: #E31939; }
      #layout .layoutL .tabs .indication {
        display: block; }
  #layout .layoutR {
    width: 210px;
    float: right;
    position: relative; }
    #layout .layoutR ul {
      width: 100%;
      height: 40px;
      border-bottom: 2px solid #E31939; }
      #layout .layoutR ul li {
        height: 38px;
        line-height: 38px;
        color: #E31939; }
        #layout .layoutR ul li h3 {
          display: inline-block; }
        #layout .layoutR ul li i {
          margin-right: 6px;
          vertical-align: middle;
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url(../images/i1.png) no-repeat 0 -125px; }

#LoutiNav {
  position: fixed;
  top: 25%;
  width: 26px;
  z-index: 888;
  left: 0;
  border: 1px solid #E7E7E7;
  display: none; }
  #LoutiNav ul li {
    position: relative;
    width: 26px;
    height: 26px;
    list-style: none;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 1px solid #AAAAAA; }
    #LoutiNav ul li .last {
      background: darkred;
      color: white;
      border-bottom: none; }
    #LoutiNav ul li span {
      display: none;
      width: 26px;
      height: 26px;
      position: absolute;
      top: 0;
      left: 0;
      color: red; }
    #LoutiNav ul li .active {
      display: block;
      background: #e31938;
      color: white; }
    #LoutiNav ul li:hover span {
      display: block;
      background: #e31938;
      color: white; }
      #LoutiNav ul li:hover span .active {
        display: block;
        background: darkred;
        color: white; }

#storey .louti {
  height: 685px;
  margin: 10px 0 15px 0; }
#storey .loutiT {
  height: 600px; }
  #storey .loutiT .list {
    float: left;
    width: 240px; }
    #storey .loutiT .list h3 {
      font-size: 22px;
      height: 35px;
      line-height: 35px;
      font-weight: 300;
      margin-left: 2px; }
      #storey .loutiT .list h3 a:hover {
        color: #e31938; }
    #storey .loutiT .list .lista {
      height: 565px; }
      #storey .loutiT .list .lista .listaT {
        background: #8dd214;
        height: 201px;
        padding: 30px 0 30px 26px; }
        #storey .loutiT .list .lista .listaT a {
          display: inline-block;
          width: 56px;
          height: 56px;
          border: 1px solid #fff;
          line-height: 58px;
          background: #fff;
          border-radius: 50%;
          text-align: center;
          margin: 0 6px 10px 0; }
  #storey .loutiT .goods {
    float: left;
    width: 820px;
    position: relative; }
    #storey .loutiT .goods ul {
      position: absolute;
      display: none; }
    #storey .loutiT .goods .ware {
      width: 820px;
      border-top: 1px solid #8DD214;
      margin-top: 35px; }
      #storey .loutiT .goods .ware li {
        border-right: 1px solid #E7E7E7;
        border-bottom: 1px solid #E7E7E7;
        width: 204px;
        height: 278px;
        font-size: 12px;
        float: left; }
        #storey .loutiT .goods .ware li .admin {
          padding: 22px 0 0 20px;
          display: block;
          width: 165px; }
          #storey .loutiT .goods .ware li .admin img {
            display: block;
            width: 160px;
            height: 160px; }
          #storey .loutiT .goods .ware li .admin p {
            margin-top: 6px;
            width: 160px;
            line-height: 20px; }
          #storey .loutiT .goods .ware li .admin span {
            display: block;
            text-decoration: line-through;
            height: 24px;
            line-height: 24px; }
          #storey .loutiT .goods .ware li .admin i {
            height: 18px;
            line-height: 18px;
            font-size: 16px;
            color: #e31938; }
          #storey .loutiT .goods .ware li .admin b {
            display: inline-block;
            width: 30px;
            height: 30px;
            float: right;
            margin-top: -15px;
            cursor: pointer; }
            #storey .loutiT .goods .ware li .admin b img {
              display: block;
              width: 30px;
              height: 30px; }
        #storey .loutiT .goods .ware li:nth-child(4n) {
          border-right: none; }
    #storey .loutiT .goods .reveal {
      display: block; }
    #storey .loutiT .goods #listStore {
      position: absolute;
      right: -150px;
      height: 35px;
      top: 0; }
      #storey .loutiT .goods #listStore li {
        float: left;
        height: 34px;
        line-height: 34px;
        margin-left: 8px;
        border-top: 1px solid #e7e7e7;
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        border-bottom: 1px solid #8DD214; }
        #storey .loutiT .goods #listStore li h3 {
          padding: 0 25px;
          cursor: pointer; }
      #storey .loutiT .goods #listStore .select {
        color: #8DD214;
        border-bottom-color: #fff; }
  #storey .loutiT .brief {
    float: right;
    width: 150px;
    border-top: 1px solid #8DD214;
    margin-top: 35px; }
#storey .loutib {
  height: 66px;
  margin: 10px auto;
  background: #e7e7e7; }
  #storey .loutib ul {
    line-height: 66px; }
    #storey .loutib ul li {
      width: 120px;
      height: 40px;
      float: left;
      text-align: center; }

/*# sourceMappingURL=index.css.map */
